header{
	font-size: 18px;
	color: black;
}

h1{
	font-size: 24px;
	font-weight: bold;
	color: brown;
	margin: 25px 0;
}

footer{
	background-color: burlywood;
	padding: 10px 8px;
	margin-top: 8px;
}

nav li{
	padding: 10px;
	margin: 8px;
}

.active{
	background-color: burlywood;
	font-weight: bold;
	border: 3px solid brown
}

img{
	margin: 10px;
	border: 3px solid;
	width: 250px;
	border-radius: 15px
}

img:hover{
	filter: grayscale();
}